Repository cartography-cncf/cartography, pull requests merged in 2025-08, with the labels that each got.

#1752 feat: Add status field to SnipeIT assets
  cartography/models/snipeit/asset.py
  docs/root/modules/snipeit/schema.md
  tests/integration/cartography/intel/snipeit/test_snipeit_assets.py
Labels: codex

#1747 Add ECSService to ECSTask relation
  cartography/intel/aws/ecs.py
  cartography/models/aws/ecs/services.py
  cartography/models/aws/ecs/tasks.py
  docs/root/modules/aws/schema.md
  tests/integration/cartography/intel/aws/test_ecs.py
Labels: codex

#1782 docs(demo): improve argparse CLI description formatting
  demo/__main__.py
Labels: maintenance

#1780 fix(analysis): avoid Cartesian product in EC2 keypair analysis by using k1.id < k2.id
  cartography/data/jobs/analysis/aws_ec2_keypair_analysis.json
Labels: analysis, module:AWS

#1806 fix(github): raise exceptions on GitHub sync failures
  cartography/intel/github/__init__.py
  uv.lock
Labels: module:GitHub, codex

#1775 feat(aws): RDS Event Subscription Intel Module
  cartography/intel/aws/rds.py
  cartography/models/aws/rds/event_subscription.py
  docs/root/modules/aws/schema.md
  tests/data/aws/rds.py
  tests/data/aws/sns.py
  tests/integration/cartography/intel/aws/test_rds_event_subscriptions.py
Labels: module:AWS

#1763 fix(aws/route53): Prevent circular SUBZONE relationshipsFix/only one file
  cartography/intel/aws/route53.py
  tests/data/aws/route53.py
  tests/integration/cartography/intel/aws/test_route53.py
  tests/integration/cartography/intel/aws/test_route53_sync.py
Labels: module:AWS

#1794 feat: add `_module_name` and `_module_version` metadata to graph entities
  cartography/graph/querybuilder.py
  tests/unit/cartography/graph/test_cleanupbuilder_unscoped.py
  tests/unit/cartography/graph/test_matchlink.py
  tests/unit/cartography/graph/test_querybuilder_complex.py
  tests/unit/cartography/graph/test_querybuilder_metadata.py
  tests/unit/cartography/graph/test_querybuilder_onetomany.py
  tests/unit/cartography/graph/test_querybuilder_simple.py
Labels: schema, maintenance

#1810 fix(github): Correct SSH to git URL conversion in _create_git_url_from_ssh_url #1808
  cartography/intel/github/repos.py
  tests/unit/cartography/intel/github/test_repos.py
Labels: module:GitHub

#1816 feat: Add API Gateway Deployment Resource to AWS Module
  cartography/intel/aws/apigateway.py
  cartography/models/aws/apigateway/__init__.py
  cartography/models/aws/apigateway/apigateway.py
  cartography/models/aws/apigateway/apigatewaycertificate.py
  cartography/models/aws/apigateway/apigatewaydeployment.py
  cartography/models/aws/apigateway/apigatewayresource.py
  cartography/models/aws/apigateway/apigatewaystage.py
  docs/root/modules/aws/schema.md
  tests/data/aws/apigateway.py
  tests/integration/cartography/intel/aws/test_apigateway.py
Labels: module:AWS

#1827 fix(github): Reduce GitHub repo page size on 502 errors
  cartography/intel/github/repos.py
  cartography/intel/github/util.py
  docs/root/modules/github/config.md
  tests/unit/cartography/intel/github/test_github.py
Labels: codex

#1846 fix: #1843: Handle APIGateway rate limit errors
  cartography/intel/aws/apigateway.py
  tests/unit/cartography/intel/aws/test_apigateway.py
Labels: codex

#1848 fix: #1842: Handle CodeBuild endpoint connection errors
  cartography/util.py
  tests/unit/cartography/intel/aws/test_apigateway.py
  tests/unit/cartography/intel/aws/test_codebuild.py
Labels: codex

#1784 feat: add Keycloak intel module
  README.md
  cartography/cli.py
  cartography/config.py
  cartography/data/jobs/analysis/keycloak_inheritance.json
  cartography/intel/keycloak/__init__.py
  cartography/intel/keycloak/authenticationexecutions.py
  cartography/intel/keycloak/authenticationflows.py
  cartography/intel/keycloak/clients.py
  cartography/intel/keycloak/groups.py
  cartography/intel/keycloak/identityproviders.py
  cartography/intel/keycloak/organizations.py
  cartography/intel/keycloak/realms.py
  cartography/intel/keycloak/roles.py
  cartography/intel/keycloak/scopes.py
  cartography/intel/keycloak/users.py
  cartography/intel/keycloak/util.py
  cartography/models/keycloak/__init__.py
  cartography/models/keycloak/authenticationexecution.py
  cartography/models/keycloak/authenticationflow.py
  cartography/models/keycloak/client.py
  cartography/models/keycloak/group.py
  cartography/models/keycloak/identityprovider.py
  cartography/models/keycloak/organization.py
  cartography/models/keycloak/organizationdomain.py
  cartography/models/keycloak/realm.py
  cartography/models/keycloak/role.py
  cartography/models/keycloak/scope.py
  cartography/models/keycloak/user.py
  cartography/sync.py
  demo/__main__.py
  demo/seeds/keycloak.py
  docs/root/modules/keycloak/analysis.md
  docs/root/modules/keycloak/config.md
  docs/root/modules/keycloak/index.md
  docs/root/modules/keycloak/schema.md
  docs/root/usage/schema.md
  tests/data/keycloak/__init__.py
  tests/data/keycloak/authenticationexecutions.py
  tests/data/keycloak/authenticationflows.py
  tests/data/keycloak/clients.py
  tests/data/keycloak/groups.py
  tests/data/keycloak/identityproviders.py
  tests/data/keycloak/organizations.py
  tests/data/keycloak/realms.py
  tests/data/keycloak/roles.py
  tests/data/keycloak/scopes.py
  tests/data/keycloak/users.py
  tests/integration/cartography/intel/airbyte/test_connections.py
  tests/integration/cartography/intel/keycloak/__init__.py
  tests/integration/cartography/intel/keycloak/test_authenticationexecutions.py
  tests/integration/cartography/intel/keycloak/test_authenticationflows.py
  tests/integration/cartography/intel/keycloak/test_clients.py
  tests/integration/cartography/intel/keycloak/test_groups.py
  tests/integration/cartography/intel/keycloak/test_identityproviders.py
  tests/integration/cartography/intel/keycloak/test_organizations.py
  tests/integration/cartography/intel/keycloak/test_realms.py
  tests/integration/cartography/intel/keycloak/test_roles.py
  tests/integration/cartography/intel/keycloak/test_scopes.py
  tests/integration/cartography/intel/keycloak/test_users.py
Labels: data-addition
